module {{ module_path }}

go 1.23.0

require (
	github.com/caarlos0/env/v11 v11.3.1
	github.com/go-playground/validator/v10 v10.25.0
	github.com/joho/godotenv v1.5.1
	gopkg.in/yaml.v3 v3.0.1
{% if grpc_enabled %}
	google.golang.org/grpc v1.66.2
	google.golang.org/protobuf v1.34.2
{% endif %}
{% if pg_enabled %}
	github.com/jackc/pgx/v5 v5.7.2
	github.com/pressly/goose/v3 v3.23.0
{% endif %}
{% if kafka_enabled %}
	github.com/twmb/franz-go v1.18.0
{% endif %}
)
