package model

import "errors"

var (
	// ErrNotFound is returned when the requested entity does not exist.
	ErrNotFound = errors.New("entity not found")
	// ErrInvalidArgument is returned when request arguments are invalid.
	ErrInvalidArgument = errors.New("invalid argument")
)
