# Service metadata
SERVICE_NAME={{ service_name }}
SERVICE_MODULE_PATH={{ module_path }}
CONFIG_PATH=.deploy/config/config.local.yaml

# Runtime ports
HTTP_PORT=8080
{% if grpc_enabled %}
GRPC_PORT=9090
{% endif %}
DOCS_PORT=8081

# Observability
OBSERVABILITY_LOG_LEVEL=info

{% if pg_enabled %}
# PostgreSQL (optional: set PG_DSN to enable postgres runtime)
PG_DSN=
PG_MAX_CONNS=4
PG_CONN_MAX_LIFETIME=30m

{% endif %}
{% if kafka_enabled %}
# Kafka (optional: set KAFKA_BROKERS to enable kafka runtime)
KAFKA_BROKERS=
KAFKA_CLIENT_ID={{ service_name }}
{% if kafka_producer_enabled %}
KAFKA_TOPIC_OUT={{ service_name }}.events.v1
{% endif %}
{% if kafka_consumer_enabled %}
KAFKA_TOPIC_IN={{ service_name }}.events.v1
KAFKA_GROUP_ID={{ service_name }}.group.v1
{% endif %}
{% endif %}
