syntax = "proto3";

package {{ service_name | replace('-', '_') }};

import "google/api/annotations.proto";

option go_package = "{{ module_path }}/internal/pb/{{ module_path }}/api/{{ service_name }};{{ service_name | replace('-', '_') }}pb";

service PingService {
  rpc Ping(PingRequest) returns (PingResponse) {
    option (google.api.http) = {
      post: "/v1/ping"
      body: "*"
    };
  }
}

message PingRequest {
  string force_error = 1;
}

message PingResponse {
  string status = 1;
  string service = 2;
}
